<div class="tableBox-rowNo">
  <table>
      <tr *ngFor="let row of fndlFormatedFilteredData.tab[0].table[0].rows;let i = index">
          <td *ngFor="let col of row.columns;let j = index" [ngStyle]="{'color':col.textColor,
              'background-color':col.bgColor,'font-size':col.fontSize}"
              [attr.colSpan]="col.colSpan" [attr.rowSpan]="col.rowSpan"
              [ngClass]="(col.rowSpan =='0' && col.colSpan == '0') ? 'noSpan': ''">
              <ng-container
              *ngIf="col.colType == 'label'">{{col.title}}</ng-container>
              <ng-container *ngIf="col.colType == 'input'">
                  input
              </ng-container>
              <ng-container *ngIf="getButtonStatus(i,j)&&action!='view'">
                      <button
                      type="button"
                      (click)="updateRow(i,j);addRow(i,j)"
                      class="btn btn-success"
                    >
                      +
                    </button>
              </ng-container>
          </td>
      </tr>
  </table>
</div>