<div class="edit-profile-form">
  <div class="form-group" *ngIf="inputOutputData">
    <form class="inputOutputForm" [formGroup]="inputOutputForm">
      <div class="data-field">
        <div class="form">
          <div class="">
            <div class="inputOutputlistBox">
              <div class="inputOutput-row">
                <div class="field">Parameter Label</div>
                <div class="field">Source</div>
                <div class="field">Value</div>
                <div class="field">&nbsp;</div>
              </div>
              <div formArrayName="inputOutputArray">
                <div
                  class="inputOutput-row"
                  *ngFor="
                    let arr of inputOutputForm.get('inputOutputArray')[
                      'controls'
                    ];
                    let i = index
                  "
                >
                  <div class="field">
                    {{ arr.get('paramName').value }}
                  </div>
                  <div class="field">
                    <div class="form-group input-type p-field">
                      <select [formControl]="arr.get('source')">
                        <option [ngValue]="null" disabled>
                          Choose source list
                        </option>
                        <option
                          *ngFor="let prf of sourceList"
                          [ngValue]="value"
                        >
                          {{ prf.value }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="field">
                    <div class="form-group input-type p-field">
                      <select
                        (change)="getDropDownVal($event, i)"
                        [formControl]="arr.get('value1')"
                      >
                        <option disabled>
                          Choose value to get dynamic column
                        </option>
                        <option *ngFor="let prf of productTypeList">
                          {{ prf.value }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="field">
                    <div
                      class="form-group input-type p-field"
                      *ngIf="arr.value.value1"
                    >
                      <select [formControl]="arr.get('value2')">
                        <option>Choose column</option>
                        <option
                          *ngFor="let prf of getValueTypeList('entity_type_id')"
                        >
                          {{ prf.value }}
                        </option>
                      </select>
                      <!-- <option
                          *ngFor="let prf of getValueTypeList(arr.value.value1)"
                        >  value dynamic rhegi ho value upar wale dropdown me select krenge wo bejenge-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
