.wrapper {
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  box-sizing: border-box;
}

.wrapper-body {
  height: 75%;
}
.wrapper-body-4 {
  height: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 15%;
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 100%;
}

.right-sub-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  background-color: bisque;
  height: 100%;
  border-radius: 3px;
}

.wrapper-body-1 {
  height: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 15%;
}

.left-sub-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  background-color: bisque;
  height: 100%;
  border-radius: 3px;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 100%;
}

.body {
  height: 100%;
  display: flex;
  column-gap: 10px;
}

.wrapper-section {
  display: flex;
  column-gap: 10px;
  height: 100%;
}

.wrapper-body-2 {
  height: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 32%;
  padding: 10px;
  background-color: bisque;
  border-radius: 3px;
}

.wrapper-body-5 {
  height: 100%;
}

.wrapper-body-3 {
  height: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 32%;
  padding: 10px;
  background-color: bisque;
  border-radius: 3px;
}

.wrapper-details {
  height: 25%;
}

.heading {
  font-weight: 700;
  line-height: 18px;
  flex-grow: 1;
}

.value {
  font-weight: 700;
  line-height: 35px;
  margin-left: 15px;
  font-size: 24px;
}

.footer-block {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 1;
  padding: 10px;
  background-color: bisque;
  height: 100%;
  border-radius: 3px;
}

.content-sub-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.footer-sub-block {
  display: flex;
  column-gap: 10px;
  align-items: flex-end;
}
.content-section {
  flex-grow: 1;
  width: 100%;
}
.graph {
  height: 100%;
}

.graph-variance {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 10%;
}

.variance {
  font-weight: 700;
  line-height: 35px;
  font-size: 16px;
  color: gray;
}

.view-all {
  align-self: flex-start;
  font-weight: 600;
  font-size: 14px;
}
.graph-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90%;
  column-gap: 10px;
}
.exposure {
}
.exposure-graph {
  background-color: #ff9999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 5px;
  border-radius: 8px;
}
.exp-val-value {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}
.exposure-text {
  font-weight: 700;
  line-height: 35px;
  font-size: 16px;
  color: gray;
}
.exp-detail {
  margin-left: 10px;
}
.deposits {
}
.deposits-graph {
  background-color: #ff9999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 5px;
  border-radius: 8px;
}

.deposits-text {
  font-weight: 700;
  line-height: 35px;
  font-size: 16px;
  color: gray;
}
.securities {
}
.securities-graph {
  background-color: #ff9999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 5px;
  border-radius: 8px;
}

.securities-text {
  font-weight: 700;
  line-height: 35px;
  font-size: 16px;
  color: gray;
}
.liabilities {
}
.liabilities-graph {
  background-color: #ff9999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 5px;
  border-radius: 8px;
}

.liabilities-text {
  font-weight: 700;
  line-height: 35px;
  font-size: 16px;
  color: gray;
}
.img {
  height: 100px;
  width: 100%;
}

.graph {
  height: 100%;
}

.graph-text {
  display: flex;
  flex-direction: row-reverse;
  height: 10%;
}
.view-all {
  align-self: flex-end;
  font-weight: 600;
  font-size: 14px;
}

.graph-page {
  height: 90%;
}
@media (min-width: 320px) and (max-width: 600px) {
  .wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .wrapper-section {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .body {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

@media (min-width: 600px) and (max-width: 1030px) {
  .wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .wrapper-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
