<form
  name="form"
  [formGroup]="inputForm"
  (ngSubmit)="onSubmit(loginForm)"
  novalidate
>
  <input
    type="number"
    class="form-control"
    name="inp1"
    id="workflow"
    placeholder="Enter Name"
    formControlName="inp1"
    (change)="pushData({ x: 'l', v: $event.target.value })"
  />
  <input
    type="number"
    class="form-control"
    name="inp2"
    id="workflow"
    placeholder="Enter Name"
    formControlName="inp2"
    (change)="pushData({ x: 'm', v: $event.target.value })"
  />
  <input
    type="number"
    class="form-control"
    name="inp3"
    id="workflow"
    placeholder="Enter Name"
    formControlName="inp3"
    (change)="pushData({ x: 'h', v: $event.target.value })"
  />
  <input
    type="text"
    class="form-control"
    name="total"
    id="workflow"
    value="total"
    placeholder="Enter Name"
    formControlName="total"
  />
</form>
