<!-- <form
  name="form"
  [formGroup]="workFlowForm"
  (ngSubmit)="onSubmit(workFlowForm)"
  novalidate
>
  <div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="form-group">
          <label class="form-col-form-label" for="reminder">reminder</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="reminder"
            placeholder="Enter reminder"
            formControlName="reminder"
            [ngClass]="{ 'is-invalid': formSubmitAttempt && f.reminder.errors }"
          />
          <div
            *ngIf="formSubmitAttempt && f.reminder.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="formSubmitAttempt && f.reminder.errors.required">
              reminder is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-col-form-label" for="contractDocument"
            >contractDocument</label
          >
          <textarea
            rows="2"
            class="form-control"
            name="contractDocument"
            formControlName="contractDocument"
          ></textarea>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btnClass">Next</button>
        </div>
      </div>
    </div>
  </div>
</form> -->
<form [formGroup]="myForm" (ngSubmit)="submit()">
<div formArrayName="people">
    <div *ngFor="let person of getPeople(myForm); let i=index">
        <div style="margin: 5px;" [formGroupName]="i">
            <label>Person {{ i + 1 }}</label>
            <input type="text" placeholder="Name" formControlName="name">
            <button *ngIf="i<1" (click)="addPeople()" type="button">Add People</button>

            <div formArrayName="addresses">
                <div *ngFor="let address of getAddress(person); let j=index">
                    <div [formGroupName]="j">
                        <span>Address {{ j + 1 }}</span>
                        <input type="text" placeholder="house No" formControlName="houseNo">
                        <input type="text" placeholder="city" formControlName="city">
                        <button *ngIf="j<1" (click)="addAddress(i)" type="button">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
