<!-- <form
  name="form"
  [formGroup]="workFlowForm"
  (ngSubmit)="onSubmit(workFlowForm)"
  novalidate
>
  <div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="form-group">
          <label class="form-col-form-label" for="reminder">reminder</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="reminder"
            placeholder="Enter reminder"
            formControlName="reminder"
            [ngClass]="{ 'is-invalid': formSubmitAttempt && f.reminder.errors }"
          />
          <div
            *ngIf="formSubmitAttempt && f.reminder.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="formSubmitAttempt && f.reminder.errors.required">
              reminder is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-col-form-label" for="contractDocument"
            >contractDocument</label
          >
          <textarea
            rows="2"
            class="form-control"
            name="contractDocument"
            formControlName="contractDocument"
          ></textarea>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btnClass">Next</button>
        </div>
      </div>
    </div>
  </div>
</form> -->
<form [formGroup]="myForm" (ngSubmit)="submit(myForm)">
<input
  type="text"
  (keypress)="changeEvent($event)"
  formControlName="filterFieldStart"
/>
<div *ngIf="isChange">
  <div>
    <!-- <label for="type"> Male</label>
  <input
    id="type"
    type="radio"
    formControlName="genderControl"
    name="genderControl"
    (onClick)="callForm($event)"
  />
  <label for="typeF"> Female</label>
  <input
    id="typeF"
    type="radio"
    formControlName="genderControl"
    name="genderControl"
    (onClick)="callForm($event)"
  /> -->
    <label for="male" (click)="callForm('male')">Male</label>
    <!-- <input type="radio" name="genderControl" id="male" value="male"
  formControlName="genderControl" (change)="callForm($event,'male')"> -->
    <label for="female" (click)="callForm('female')">Female</label>
    <!-- <input type="radio" name="genderControl" id="female" value="female"
  formControlName="genderControl" (change)="callForm($event,'female')"> -->
  </div>
</div>
<div formArrayName="people">
  <div *ngFor="let person of getPeople(myForm); let ig = index">
    <div style="margin: 5px;" [formGroupName]="ig">
      <!-- <div formArrayName="addresses">
        <div *ngFor="let address of getAddress(person); let j = index"> -->
      <div>
        <span>Address {{ ig + 1 }}</span>
        <input
          type="text"
          placeholder="filterField"
          formControlName="filterField"
        />
        <input
          type="radio"
          name="genderControl"
          id="male"
          value="male"
          formControlName="genderControl"
          (change)="callFormCheck($event, 'male')"
        />
        <label for="male"> Add Data Type</label>
        <input
          type="radio"
          name="genderControl"
          id="female"
          value="female"
          formControlName="genderControl"
          (change)="callFormCheck($event, 'female')"
        />
        <label for="female"> Look Up Data</label>
        <div formArrayName="Ys">
          <div
            *ngFor="
              let Y of person['controls'].Ys['controls'];
              let iy = index
            "
          >
            <div formGroupName="{{ iy }}" class="Ys">
              <input type="text" formControlName="dataType" />
              <input
                type="button"
                (click)="addDatanewAddArray(Y, ig)"
                value="+"
              />
              <div formArrayName="newFilterField">
                <div
                  *ngFor="
                    let Z of Y['controls']['newFilterField']['controls'];
                    let iz = index
                  "
                >
                  <div formGroupName="{{ iz }}">
                    <input
                      type="text"
                      placeholder="filterField"
                      formControlName="filterField"
                    />
                    <input
                      type="radio"
                      name="genderControl"
                      id="male"
                      value="male"
                      formControlName="genderControl"
                      (change)="callCheckbox($event, 'male', iy, ig, iz)"
                    />
                    <label for="male"> Add Data Type</label>
                    <input
                      type="radio"
                      name="genderControl"
                      id="female"
                      value="female"
                      formControlName="genderControl"
                      (change)="callCheckbox($event, 'female', iy, ix, iz)"
                    />
                    <label for="female"> Look Up Data</label>
                    <!-- <div formArrayName="a">
                      <div
                        *ngFor="
                          let pqr of Z['controls']['newFilterField'][
                            'controls'
                          ];
                          let pq = index
                        "
                      >
                        <div>
                          <div formGroupName="{{ pq }}">
                            <input
                              type="text"
                              placeholder="p"
                              formControlName="p"
                            />
                            <input
                              type="text"
                              placeholder="q"
                              formControlName="q"
                            />
                          </div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
                <input type="button" (click)="amd(Z, ig, iy)" value="Add z" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- </div>
      </div> -->
    </div>
  </div>
</div>
<input type="submit" value="submit" />
</form>
