<div class="tableBox-rowNo">
  <table>
    <tr
      *ngFor="
        let row of fndlFormatedFilteredData.tab[0].table[0].rows;
        let i = index
      "
    >
      <td
        *ngFor="let col of row.columns; let j = index"
        [attr.colSpan]="col.colSpan"
        [attr.rowSpan]="col.rowSpan"
        [ngStyle]="
          col.rowSpan == '0' && col.colSpan == '0'
            ? { display: 'none' }
            : { display: '' }
        "
      >
        <ng-container *ngIf="col.colType == 'label'">{{
          col.title
        }}</ng-container>
        <ng-container
          *ngIf="
            col.colType == 'currency' ||
            col.colType == 'product' ||
            col.colType == 'tenor' ||
            col.colType == 'installmentType' ||
            col.colType == 'installmentFrequency' ||
            col.colType == 'entity'
          "
        >
          drop
        </ng-container>
        <ng-container *ngIf="col.colType == 'input'"> input </ng-container>
        <ng-container *ngIf="getButtonStatus(i, j)">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="updateRow(i, j); addRow(i, j)"
          >
            +
          </button>
        </ng-container>
      </td>
    </tr>
  </table>
</div>
