<div>
  <button type="button" class="btn btn-success" routerLink="css">css</button>
</div>
<div>
  <button type="button" class="btn btn-success" routerLink="inputPush">
    input-push
  </button>
</div>
<div>
  <button
    type="button"
    class="btn btn-secondary"
    routerLink="tablecolumnfilter"
  >
    checkbox with ngFor
  </button>
</div>
<div>
  <button
    type="button"
    class="btn btn-success"
    routerLink="DynamicFormArrayComponent"
  >
    dynamic reactive form
  </button>
</div>
<div>
  <button type="button" class="btn btn-danger" routerLink="formarray">
    form array
  </button>
</div>
<div>
  <button type="button" class="btn btn-warning" routerLink="grid">
    grid system
  </button>
</div>
<div>
  <button type="button" class="btn btn-info" routerLink="login">login</button>
</div>
<div>
  <button type="button" class="btn btn-success" routerLink="flex">
    ngFor with flex
  </button>
</div>
<div>
  <button type="button" class="btn btn-dark" routerLink="register">
    registartion
  </button>
</div>
<div>
  <button type="button" class="btn btn-secondary" routerLink="stepper">
    horizontal stepper
  </button>
</div>
<div>
  <button type="button" class="btn btn-primary" routerLink="accordion">
    accordian loop
  </button>
</div>
<div>
  <button type="button" class="btn btn-warning" routerLink="workflow/add/1">
    step
  </button>
</div>
<div>
  <button
    type="button"
    class="btn btn-warning"
    routerLink="DiffcssinforloopComponent"
  >
    CSS WITH DIFF IN NGFOR
  </button>
</div>
<div>
  <button
    type="button"
    class="btn btn-warning"
    routerLink="pageone"
  >
    inheritance
  </button>
</div>
