<div class="container">
  <!-- completed -->
  <div class="step completed">
    <div class="v-stepper">
      <div class="circle"></div>
      <div class="line"></div>
    </div>

    <div class="content">
      ccc Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
  </div>

  <!-- active -->
  <div class="step active">
    <div class="v-stepper">
      <div class="circle"></div>
      <div class="line"></div>
    </div>

    <div class="content">
      aaa Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
  </div>

  <!-- empty -->


  <!-- regular -->
  <div class="step">
    <div class="v-stepper">
      <div class="circle"></div>
      <div class="line"></div>
    </div>

    <div class="content">
      rrr Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
  </div>
</div>
